<h1>About me</h1>
<p> I'm a web developer passionate for learning and write code, I've been trying to
improve my skills everyday and share the knowledge with as many people as I can. </p>

<p>I like <%= @random_word %></p>

