<form action="/number" method="post" role='form'>
  <div class="col-md-6">
    <div class="form-group">
      <label for="number">Random Number</label>
      <input type="text" class="form-control" name="number" id="number" placeholder="Insert a number" />
      <br />
      <button type="submit" class="btn btn-success">Send</button>
    </div>
  </div>
</form>
